*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

:root {
    --Charcoal: #333333;
    --off-white: #f4f4f4;
    --Black: #000000;
    --White: #ffffff;
    --gray: #999999;
    --light-gray: #eeeeee;
    --juicy-red: #ff2f64;
    --cloud-blue: #87bcde;
    --sky-blue: #13d3d5;
    --cobalt: #5087ec;
    --green: #1dca7f;
    --royal-purple: #5045ab;
    --yellow: #ffbf46;
  }

  body {
    margin: 0;
    position: relative;
    min-height: 100vh;
  }

  #addTransactionForm {
    padding: 0px 24px;
  }



  @media screen and (min-width: 320px) {
    #navBar {
      display: flex;
      justify-content: space-between;
      top: 0;
      left: 0;
      padding-top: 1%;
      margin-left: 5%;
      margin-right: 5%;
    }

    #topNav {
      display: flex;
      justify-self: center;
      align-items: center;
      margin-left: 5%;
      margin-right: 5%;
      padding-bottom: 1%;
      border-bottom: 1px solid #eeeeee;
      height: 56px;
    }

    #backNav {
      display: flex;
      align-items: center;
    }

    #backNav:hover {
      cursor: pointer;
    }

    .BG {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    #transactionPageWrapper {
      padding-bottom: 160px;
    }
    
    .BG {
      display: inline;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  #cancel {
    font-family: Roboto;
    font-size: 12px;
    text-decoration: inherit;
    letter-spacing: 2px;
    color: var(--gray);
  }

  #iconBack {
    margin-right:8px;
  }

  #chooseCategoryTitle, #moreCategoriesTitle, #setWeeklyBudgetTitle, #amountSpentTitle, #moneySpentOnTitle {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: var(--gray);
    padding-top: 10%;
    padding-bottom: 16px;
    font-size: 14px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: lightblue; */
  }

  @media screen and (min-width: 768px) {
  form {
    margin-left: 25%;
    margin-right: 25%;
  }
  }

  label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--Charcoal);
    padding-top: 5px;
  }

  #rowsOfButtons, #rowsOfButtons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }



  .row {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #food, #groceries, #bills, #entertainment, #clothing, #pet, #transport, #other {
    height: 32px;
  }

  .categorylist {
    height: 32px;
  }

  .disabledImage{
    cursor: not-allowed; 
  }

  .activeCategoryImage:hover{
    transform: scale(1.2);

  }

  #setWeeklyBudget {
    display: flex;
    flex-direction: column;
  }

  #buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }

  button {
    width: 32px;
    height: 32px;
    border-radius: 28px;
    border: solid 1px #cccccc;
    background-color: var(--White);
    outline: none;
    justify-self: center;
  }

  button:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:active {
    border: 3px solid #cccccc;
  }

  #submitButtonContainer {
    display: flex;
    justify-content: center;
  }

  .submitButton {
    width: 80%;
    height: 48px;
    border-radius: 24px;
    background-color: var(--Charcoal);
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--White);
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .submitButton:hover {
    background-color: var(--cobalt);
    cursor: pointer;
  }


  input {
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    outline: none;
    width: 100%;
  }

  .textSize {
    border: solid 2px white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--Charcoal);
    border-radius: 8px;
  }

  .textSize:hover {
    border: solid 2px var(--cobalt);

  }

  /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

/* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }



