input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px 15px 0px;
  display: inline-block;
  border: 1px solid #999999;
  background: #f4f4f4;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

.submit {
  width: 100%;
  background-color: #999999;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.submit:active {
  background-color: rgb(31, 34, 34);
  outline: none;
}

a {
  text-decoration: none;
}

#signUp {
  color: black;
  text-align: center;
}

span {
  color: blue;
  margin-left: 5px;
}

button {
  width: 256px;
  height: 48px;
  border-radius: 24px;
  background-color: #333333;
  margin-top: 108px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

#visible {
  position: absolute;
  background-color: lightgrey;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 352px;
  margin-top: -45px;
}

.error {
  margin-left: 4%;
  display: none;
}

input[type="submit"]:hover {
  background-color: #757575;
}

input:focus::placeholder {
  color: transparent;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.background .gray {
  height: 57vh;
  background: #f4f4f4;
}

.container {
  position: relative;
  z-index: 12;
  margin-bottom: 250px;
}

.container .logo {
  display: flex;
  margin-top: 300px;
}

.container .logo img {
  margin: auto;
}

.container .form {
  background: white;
  padding: 4%;
  width: 380px;
  border-radius: 12px;
  margin: 4vh auto auto;
  -webkit-box-shadow: 0 10px 62px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 10px 62px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 62px -21px rgba(0, 0, 0, 0.75);
}

#errorMsg {
  text-align: center;
}

@media (max-width: 1024px) {
  .container .logo {
    height: 10%;
  }

  .container .form {
    margin: 4vh auto auto;
  }
}

@media (max-width: 650px) {
  .container .logo {
    height: 30%;
  }

  .container .form {
    margin: 6vh auto auto;
    width: 90%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 2%;
  }

  .background {
    display: none;
  }

  .container .form form {
    height: 56%;
  }

  #errorMsg {
    margin: 0vh auto 25vh;
  }

  #password {
    margin: 0vh auto 25vh;
  }

  #visible {
    margin-left: 83%;
    margin-top: -265px;
  }

  .submit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin: 5vh 5vw auto;
    outline: none;
  }
}

