/* Media Queries */
/* 320px */
@media screen and (min-width: 320px) {
  .main-container2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 600px;
    width: 320px;
  }
  .bg2 {
    width: 320px;
    transform: rotate(-360deg);
    position: absolute;
    margin-top: 70px;
  }
  .bg3 {
    display: none;
  }
  .header {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
  }
  .menu {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 16px;
  }
  .gradient-logo {
    width: 99px;
    height: 24px;
    object-fit: contain;
    margin-left: 65px;
  }
  .profile-pic {
    width: 32px;
    height: 32px;
    margin-left: 60px;
  }
  .budget-text {
    font-family: Roboto;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #888888;
  }
  .budget {
    margin-top: 20px;
    font-family: Roboto;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #888888;
  }
  .categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 16px;
    color: #333333;
    margin-top: 45px;
  }
  .food-cat {
    display: flex;
    align-items: center;
  }
  .groceries-cat {
    display: flex;
    align-items: center;
  }
  .bills-cat {
    display: flex;
    align-items: center;
  }
  .entertainment-cat {
    display: flex;
    align-items: center;
  }
  .push {
    margin-left: auto;
  }
  .color {
    color: gray;
  }
  .number {
    font-family: Roboto;
    color: black;
    font-size: 40px;
  }
  .bottom {
    width: 234px;
    height: 32px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 100px;
    margin-left: 43px;
  }
  .donut {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    border-radius: 200px;
    margin-left: 60px;
  }
  .icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .donut:before {
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 75px;
    left: 75px;
    border: 1px solid black;
    border-radius: 200px;
  }
  .footer {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .main-container2 {
    width: 768px;
    height: 600px;
  }
  .header {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
  }
  .gradient-logo {
    object-fit: contain;
    position: absolute;
    margin-left: 325px;
  }
  .profile-pic {
    margin-left: 93%;
  }
}
