*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

#myCanvas, #donutContainer {
  display: none;
}

/* Media Queries */
/* 320px */
@media screen and (min-width: 320px) {
  .main-container2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 90%;
    bottom: 0;
    /* background-color: lightcyan; */
  }

  .food-cat {
    padding: 8px 32px;
  }

  .groceries-cat {
    padding: 8px 32px;
  }

  .bills-cat {
    padding: 8px 32px;
  }

  .entertainment-cat {
    padding: 8px 32px;
  }

  #buttonContainer {
    width: 100%;
    height: 64px;
    position: relative;
  }

  #addButton {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35);
    position: absolute;
    right: 0px;
    margin-top: 16px;
    outline: none;
  }

  #addButton:hover {
    transform: scale(1.4);
    box-shadow: 0px 8px 30px 0px rgba(80, 135, 236);
    transition: 0.1s;
    cursor: pointer;
  }

  .textSize {
    border: solid 2px white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--Charcoal);
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
  }

  .textSize:hover {
    border: solid 2px rgba(80, 135, 236);

  }

  .bg2 {
    width: 320px;
    transform: rotate(-360deg);
    position: absolute;
    margin-top: 70px;
  }

  .bg3 {
    display: none;
  }

  .bg4 {
    display: none;
  }

  #navBar {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-top: 1%;
    padding-bottom: 13%;
  }

  .menu {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 16px;
  }

  .gradient-logo {
    width: 99px;
    height: 24px;
    object-fit: contain;
    margin-left: 65px;
  }

  .profile-pic {
    width: 32px;
    height: 32px;
    margin-left: 60px;
    border-radius: 32px;
  }

  .budget-text {
    font-family: Roboto;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #888888;
  }

  .budget {
    margin-top: 20px;
    font-family: Roboto;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #888888;
  }

  .categories {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 16px;
    color: #333333;
  }

  .food-cat {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 8px;
  }

  .food-cat:active,
  .food-cat:hover,
  .groceries-cat:active,
  .groceries-cat:hover,
  .bills-cat:active,
  .bills-cat:hover,
  .entertainment-cat:active,
  .entertainment-cat:hover {
    position: static;
    background-color: #f4f4f4;
    border-radius: 5px;
    align-content: center;
    padding-right: -5%;
  }

  .groceries-cat {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .bills-cat {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .entertainment-cat {
    display: flex;
    align-items: center;
  }

  .push {
    margin-left: auto;
  }

  .color {
    color: gray;
  }

  .number {
    font-family: Roboto;
    font-weight: bold;
    color: black;
    font-size: 40px;
  }

  #donutContainer {
    display: flex;
    justify-content: center;
  }

  #myCanvas {
    margin-bottom: 5%;
  }

  .donut {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    border-radius: 200px;
    background-color: #5087ec;
  }

  .icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .donut:before {
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 75px;
    left: 75px;
    border: 1px solid black;
    border-radius: 200px;
    background-color: white;
  }

  #pageWrapper {
    display: flex;
    padding-bottom: 35%;
  }

  #pageWrapper:last-child {
    margin-right: 0%;
    margin-left: 0%;
  }

  .BG {
    width: 100%;
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .dark-overlay {
    height: 100vh;
    width: 100vw;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    width: 288px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#remove-header {
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0px;
    color: #333;
}

#remove-underline {
    width: 120px;
    height: 2px;
    background-color: #5087ec;
    margin-bottom: 16px;
}

#remove-copy {
    font-size: 16px;
    color: #333;
    margin-bottom: 32px;
}

#remove-separator {
    width: 100%;
    height: 1px;
    background-color: #999;
    margin-bottom: 24px;
}

.modalButton {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 100px;
}

#submit-new-budget {
    margin-bottom: 24px;
    border-style: none;
    background-color: #333;
    color: white;
}

#submit-new-budget:hover {
    background-color: #5087ec;
    cursor: pointer;
}

#cancel-new-budget {
    background-color: white;
    border: solid 2px #333;
    color: #333;
}

#cancel-new-budget:hover {
    background-color: #ff2f64;
    color: white;
    border: none;
    cursor: pointer;
}
}

@media screen and (min-width: 768px) {
  button {
    margin-top: -16px;
  }

  #donutContainer {
    margin-top: 16px;
  }

  .categories {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 24px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.25);
    border: solid 1px lightgrey;
    background-color: white;
  }

  .food-cat {
    padding: 8px 32px;
  }

  .groceries-cat {
    padding: 8px 32px;
  }

  .bills-cat {
    padding: 8px 32px;
  }

  .entertainment-cat {
    padding: 8px 32px 32px 32px;
  }

  .push {
    margin-right: 10px;
  }

  .modal {
    width: 440px;
  }
}

@media screen and (min-width: 1024px) {
  .categories {
    padding: 40px 0px;
  }

  .food-cat {
    margin-left: 30%;
    margin-right: 32px;
  }

  .groceries-cat {
    margin-left: 30%;
    margin-right: 32px;
  }

  .bills-cat {
    margin-left: 30%;
    margin-right: 32px;
  }

  .entertainment-cat {
    margin-left: 30%;
    margin-right: 32px;
  }

  #donutContainer {
    position: absolute;
    width: 20%;
    margin-left: 40px;
    margin-top: 15%;
  }

  #myCanvas {
    position: relative;
    margin-bottom: 75%;
    margin-left: 10%;
  }

  .donut {
    width: 250px;
    height: 250px;
    margin-left: 3%;
    border-radius: 200px;
    position: absolute;
    margin-bottom: 5%;
  }

  .header {
    display: flex;
  }

  .profile-pic {
    margin-left: 930px;
  }

  .gradient-logo {
    margin-left: 512px;
  }
}
